.header {
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

h1 {
    color: #49684A;
    font-size: 45px;
    font-weight: 800;
}

.menu {
    display: flex;
    align-items: center;
}

button {
    border: none;
    background-color: transparent;
    justify-content: space-around;
}

